*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.titulo{
    color: red;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

#Kit-de-inicio{
    color: red;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

#Tp-al-lobby{
    color: red;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

#comandos-personalizados{
    color: red;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

#header{
    margin: auto;
    width: 480px;
    min-width: 130px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

ul, ol{
    list-style: none;
}

.nav li a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover{
    background-color: #434343;
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 130px;
}

.nav li:hover > ul{
    display: block;
}

.nav li ul li{
    position: relative;
}

.nav li ul li ul{
    /*right: -140px;*/
    display: flex;
    justify-content: center;
    top: 0px;
}
