*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    background: rgb(214, 214, 214);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgb(0, 0, 0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover{
    background: #333;
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0,.1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

main{
     width: 100%;
     height: 72vh;
}

.text{
    color: red;
    display: flex;
    justify-content: center;
}

.card {
    width: 650px;
    height: 500px;
    background-color: #212121;
    padding: 10px;
    margin: 10px;
}

.evento{
    color: red;
}

.text-1{
    color: aliceblue;
}

.img{
    width: 629px;
    height: 303px;
}

h1 {
	color: #fff;
	text-align: center;
}