/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    #shell {
        width:468px;
        margin:0 auto;
        padding:0 0px 5px 5px;
    }
    #header {
        padding:0px 0px 0px 0px;
        height:100%;
    }
    #logo {
        font-size:10px;
        line-height:15px;
        float:left;
        display:inline;
    }
    #navigation {
        float:right;
        display:inline;
        padding:9px 4px 0 0;
    }
    
    #navigation ul li {
        float:left;
        padding-left:47px;
        height:8px;
        line-height:16px;
    }
    #navigation ul li a {
        color:#b1b4bb;
        font-size:7px;
        font-weight:bold;
        text-decoration:none;
    }
    #slider {
        background:#181818 url(images/slider.png) 0 0 no-repeat;
        width:468px;
        position:relative;
        margin:0 -1px 10px;
        height:433px;
        overflow:hidden;
        position:relative;
        padding:0 14px;
    }
    #slider .jcarousel-clip {
        width:468px;
        height:433px;
        overflow:hidden;
        position:relative;
    }
    #slider ul {
        list-style:none;
        height:433px;
        position:relative;
    }
    #slider ul li {
        float:left;
        width:468px;
        height:312px;
        padding:45px 13px 46px 27px;
    }
    #slider .image {
        float:left;
        width:287px;
        position:relative;
        z-index:9;
    }
    #slider .data {
        float:right;
        width:210px;
        padding:0 39px 0 0;
    }
    h2 {
        font-size:14px;
        line-height:26px;
        padding-bottom:10px;
        color:#fff;
    }
    
    .jcarousel-prev, .jcarousel-next {
        height:132px;
        position:absolute;
        top:136px;
        z-index:10;
        cursor:pointer;
    }
    .jcarousel-prev {
        background:url(images/slider-arrow-prev.png);
        width:54px;
        left:11px;
    }
    .jcarousel-next {
        background:url(images/slider-arrow-next.png);
        width:56px;
        right:11px;
    }
    
    .avatar img{
        width: 65px;
        height: 50px;
    }
    .img-1{
        width: 356px;
        height: 351px;
    }
    
    #intro .cnt {
        float:right;
        width:468px;
        padding:3px 0 0 0;
    }
    #intro .cnt p {
        color:#afafaf;
        line-height:15px;
        width:468px;
        letter-spacing:0.3px;
    }
    #main {
        background:#181818;
        margin-bottom:10px;
        padding:10px 9px;
        height:100%;
    }
    .box .box-bottom {
        background:url(images/content-bottom.gif) left bottom no-repeat;
        padding:21px 22px 20px 22px;
        height:100%;
        overflow:hidden;
    }
    
    #content {
        width:468px;
    }
    #sidebar {
        width:256px;
        float:right;
    }
    
    .site-link {
        width:255px;
        float:left;
        margin-right:20px;
        position:relative;
    }
    .site-link img{
        width: 255px;
        height: 150px;
    }
    .site-link img {
        border:5px solid #000;
        border-right-style:4px;
        border-left-style:4px;
    }
}