@media(max-width:991px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgb(0, 0, 0,.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }

    .blog-card{
        height: 370px;
        width: 90%;
    }
    
    .inner-part .img{
        height: 70px;
        width: 90px;
    }

    .inner-part{
        width: 330px;
    }
    
    img .img-1,
    img .img-2,
    img .img-3,
    img .img-4,
    img .img-5,
    img .img-6{
        padding: -600px;
    }
    

    .scrol::-webkit-scrollbar {
        height: 4px;              /* height of horizontal scrollbar ← You're missing this */
        width: 4px;               /* width of vertical scrollbar */
        border: 1px solid #0077ff;
      }


}
