* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F1F1F1;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark {
  background: #111111;
}

body.dark h2 {
  color: #C8C8C8;
}

a {
  font-weight: bolder;
    font-size: 25px;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:hover{
  font-weight: bolder;
    font-size: 25px;
    color: rgb(68, 0, 255);
}


body.dark nav a:hover {
  color: #FEFEFE;
}

nav .logotipo {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}