*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.testimonios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonios__header{
    margin: 50px 0px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonios__header h1{
    font-size: 2.9rem;
    font-weight: 500;
    background-color: #202020;
    color: white;
    padding: 10px 20px;
}

.testimonios__header span{
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
    
}